[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
flake8-bugbear = "*"
pytest = "*"
pytest-cov = "*"
ptipython = "*"
pyyaml = "*"
twine = "*"
autopep8 = "*"

[packages]
looker-sdk = ">=21"
tabulate = "*"

[pipenv]
allow_prereleases = true
