[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
flake8-bugbear = "*"
pytest = "*"
pytest-cov = "*"
ptipython = "*"

[packages]
looker-sdk = "*"
tabulate = "*"
pyyaml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
